@media screen and (max-width: 750px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu-mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
    }
}