@media screen and (max-width: 750px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu-mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
    }

    .caixa-de-texto p{
        text-indent: 40px;
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
    }

    .caixa-de-texto__conteudo{
        margin: auto;
        width: 90%;
    }

    /* HAMBURGUER */
    label{
        display: block;
    }
    .hamburguer{
        display: block;
        background-color: var(--cor01);
        width: 30px;
        height: 2px;
        position: relative;
        top: 17px;
        transition: 0.5s ease-in-out;
    }
    
    .hamburguer::before, .hamburguer::after{
        background-color: var(--cor01);
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    .hamburguer::before{
        top: -10px;
    }
    .hamburguer::after{
        bottom: -10px;
    }
    input{
        display: none;
    }
    input:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    input:checked ~ label .hamburguer::before{
        transform: rotate(90deg);
        top: 0px;
    }
    input:checked ~ label .hamburguer::after{
        transform: rotate(90deg);
        bottom: 0px;
    }

    #texto-principal h1{
        font-size: 16px;
    }
    #texto-principal p{
        font-size: 13px;
    }
    #grupo-principal{
        width: 90%;
        display: flex;
        gap: 30px;
    }
    .botao-1{
        font-size: 13px;
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid var(--cor02);
    }
    #foto-perfil{
        border-radius: 50%;
        box-shadow: 2px -2px 0px 1px var(--cor02);
        width: 35vw;
        max-width: 350px;
    }
    .experiencia__wrapper{
        gap: 20px;
    }
}

@media screen and (min-width: 620px) and (max-width: 750px){
    #texto-principal h1{
        font-size: 25px;
    }
    #texto-principal p{
        font-size: 20px;
    }
    .botao-1{
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px){
    #grupo-principal{
        gap: 100px;
    }
}