@media screen and (max-width: 750px){
    body{
        background-color: #191919;
    }
    
    
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu-mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
    }

    .caixa-de-texto .caixa-de-texto__conteudo p{
        text-indent: 40px;
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
    }

    .caixa-de-texto__conteudo{
        margin: auto;
        width: 90%;
    }

    /* HAMBURGUER */
    label{
        display: block;
    }
    .hamburguer{
        display: block;
        background-color: var(--cor01);
        width: 30px;
        height: 2px;
        position: relative;
        top: 17px;
        transition: 0.5s ease-in-out;
    }
    
    .hamburguer::before, .hamburguer::after{
        background-color: var(--cor01);
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    .hamburguer::before{
        top: -10px;
    }
    .hamburguer::after{
        bottom: -10px;
    }
    input{
        display: none;
    }
    input:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    input:checked ~ label .hamburguer::before{
        transform: rotate(90deg);
        top: 0px;
    }
    input:checked ~ label .hamburguer::after{
        transform: rotate(90deg);
        bottom: 0px;
    }

    #texto-principal h1{
        font-size: 16px;
    }
    #texto-principal p{
        font-size: 13px;
    }
    #grupo-principal{
        width: 90%;
        display: flex;
        gap: 30px;
    }
    .botao-1{
        font-size: 13px;
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid var(--cor02);
    }
    #foto-perfil{
        border-radius: 50%;
        box-shadow: 2px -2px 0px 1px var(--cor02);
        width: 35vw;
        max-width: 350px;
    }
    .experiencia__wrapper{
        gap: 20px;
    }
    ::-webkit-scrollbar{
        width: 4px;
        background-color: #373737;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #F6A254;
    }
    #botao-2{
        margin-top: 10px;
    }
    .experiencia__wrapper{
        flex-direction: column;
    }

    .experiencia__abas ul{
        padding-top: 15px;
    }
    .experiencia__abas li{
        padding: 20px;
        width: 600px;
        border-top: 2px solid #272727;
        border-left: none;
        transition: 0.5s;
        text-align: center;
    }
    .experiencia__abas li:hover{
        background-color: #272727;
        transition: 0.5s;
    }
    .experiencia__abas .ativo{
        border-top: 2px solid var(--cor02);
        background-color: #f6a2540e;
        border-left: none;
    }
    .caixa-experiencia h2{
        text-align: center;
        padding-bottom: 20px;
    }


    #titulo-formacao{
        text-align: center;
        font-size: 60px;
        color: #454545;
    }
    #formacao-tudo{
        width: 90%;
        margin: auto;
    }
    .formacao-div_pequena{
        background-color: transparent;
        border: 2px solid var(--cor02);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 140px;
        height: 150px;
    }
    .formacao-div_grande{
        background-color: transparent;
        border: 2px solid var(--cor02);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
    }
    .formacao-div_grande p{
        line-height: 24px;
    }
    .formacao-div_pequena p{
        line-height: 24px;
        letter-spacing: normal;
    }
    .tipo_curso{
        color: #ACACAC;
        font-weight: 500;
        font-size: 13px;
    }
    .nome_curso{
        font-weight: bolder;
        font-size: 13px;
    }
    .onde_curso{
        font-size: 9px;
        color: #ACACAC;
    }
    .data_curso{
        font-size: 11px;
        font-weight: 500;
        color: #ACACAC;
    }
    #formacao-todas-div{
        row-gap: 10px;
    }

    #titulo-projetos{
        text-align: center;
    }

    .projetos{
        width: 100%;
    }

    #div-tudo-projetos{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5%;
        margin-bottom: 10rem;
    }

    #projetos-scroll{
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }

    .projetos-img{
        border-left: 5px solid var(--cor02);
        width: 100%;
    }

    .projetos__wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5%;
        margin-bottom: 10rem;
    }

    .texto-projetos{
        text-align: center;
    }

    .link-projeto{
        display: flex;
        justify-content: space-around;
        width: 40%;
        padding: 10px;
        margin: auto;
    }
}

@media screen and (min-width: 620px) and (max-width: 750px){
    #texto-principal h1{
        font-size: 25px;
    }
    #texto-principal p{
        font-size: 20px;
    }
    .botao-1{
        font-size: 16px;
    }
    .nav-bar{
        padding: 1.5rem 5rem;
    }
}

@media screen and (min-width: 1000px){
    #grupo-principal{
        gap: 100px;
    }
    .nav-bar{
        padding: 1.5rem 15rem;
    }
}