@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #373737;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #F6A254;
}